## Q1. What are the characterstics of the tuple? Is tuple immutable?

#### Ans. Tuples are created using parentheses ().
      Tuples are ordered collection.
      They can store any data type.
      We can iterate through tuples.
      We can performe slicing operation.
      We can also use indexing.
   Yes, tuples are immutable.

In [2]:
#Example of tuple:-
a=(1,2,3,4,'string',4.6,[11,2,3],(5,6,7),{1,3,5})
print(type(a))

<class 'tuple'>

## Q2. What are the two tuple methods in python? Give an example of each method. Give a reason why tuples have only two in-built methods as compared to Lists.

#### Ans.
#### Two tuple methods are count() and index()
#### Tuples have only two bulit in methods because they are immutable.

In [3]:
t=(1,2,3,4,'string',4.6,[11,2,3],(5,6,7),{1,3,5})

t.count(2) # it count how many time 2 present in my tuple 'a'

1

In [4]:
t.index(1) # it gives index of 1 in my tuple 'a'

0

#### Tuples have only two bulit in methods because they are immutable.

## Q3. Which collection datatypes in python do not allow duplicate items? Write a code using a set to remove duplicates from the given list.
## List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]

#### Ans.
#### Set datatype do not allow duplicate items in python.

In [5]:
#Given list
List = [1, 1, 1, 2, 1, 3, 1, 4, 2, 1, 2, 2, 2, 3, 2, 4, 3, 1, 3, 2, 3, 3, 3, 4, 4, 1, 4, 2, 4, 3, 4, 4]
List = list(set(List)) #here, first list is converted into set  after that set is converted into list

In [6]:
print(List)

[1, 2, 3, 4]

## Q4. Explain the difference between the union() and update() methods for a set. Give an example of each method.

set1={1,2,3,4}
set2={5.3,2}

#### Ans.
#### Union() method will give all element of both sets. It will not going to change any of the original sets.

#### Update() method will update the existing set.

In [7]:
#Example:-
set1={1,2,3,4}
set2={5.3,2}

print(set1.union(set2))

{1, 2, 3, 4, 5.3}

In [8]:
set3={1,2,3,4}
set4={5.3,2}

print(set3.update(set4))
print(set3)

None
{1, 2, 3, 4, 5.3}

## Q5. What is a dictionary? Give an example. Also, state whether a dictionary is ordered or unordered.

#### Ans. 
#### Dictionary is a collection of key and value pairs.
#### Dictionaries are unordered and do not support indexing and slicing.

In [9]:
#EXAMPLE:-
D={"Name" : "Kumar", "Country" : "India"}
print(type(D))

<class 'dict'>

## Q6. Can we create a nested dictionary? If so, please give an example by creating a simple one-level nested dictionary.

#### Ans.
#### Yes, we can create a nested dictionary.

In [10]:
#EXAMPLE:-
d = {
    "numbers" : {'integer' : [1,2,3,4,5], 'float' : [1.0,2.0,4.0]},
    "string" : 'abcs',
    "bool" : True}

In [11]:
type(d)

dict

In [12]:
type(d["numbers"])

dict

## Q7. Using setdefault() method, create key named topics in the given dictionary and also add the value of the key as this list ['Python', 'Machine Learningâ€™, 'Deep Learning']
## dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

In [13]:
dict1 = {'language' : 'Python', 'course': 'Data Science Masters'}

dict1.setdefault('topics', ['Python', 'Machine Learning','Deep Learning'])
print(dict1)

{'language': 'Python', 'course': 'Data Science Masters', 'topics': ['Python', 'Machine Learning', 'Deep Learning']}

## Q8. What are the three view objects in dictionaries? Use the three in-built methods in python to display these three view objects for the given dictionary.
## dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

#### Ans. 
#### Three view objects in dictionaries are:- keys, values and items.

In [14]:
dict1 = {'Sport': 'Cricket' , 'Teams': ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']}

print(dict1.keys())

dict_keys(['Sport', 'Teams'])

In [15]:
print(dict1.values())

dict_values(['Cricket', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand']])

In [16]:
print(dict1.items())

dict_items([('Sport', 'Cricket'), ('Teams', ['India', 'Australia', 'England', 'South Africa', 'Sri Lanka', 'New Zealand'])])